@import "../global/layout.scss";

header {
  left: 4vw;
  top: 6vh;
  position: absolute;
  width: auto;
  height: auto;
  font-size: 1vw;

  a {
    color: $text;

    &:hover {
      color: $basecolor;
    }
  }
}