@import "../global/layout.scss";

header {
  left: 4vw;
  top: 6vh;
  position: absolute;
  width: auto;
  height: auto;
  font-size: 1.5vw;

  width: 92%;
  display: inline-flex;
  justify-content: space-between;
}
