nav {
  position: absolute;
  right: 4vw;
  top: 50%;
  transform: translateY(-50%);
  
  ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 25vh;
    
    svg {
      width: 1.5vw;
      
      &:hover {
        path {
          fill: $basecolor;
        }
      }
    }
  }
}

.resume {
  position: absolute;
  bottom: 6vh;
  left: 4vw;
  font-size: 1vw;
}

header > h2 {
  width: 20%;
  text-align: right;
}