nav {
  position: absolute;
  right: 4vw;
  top: 50%;
  transform: translateY(-50%);
  
  ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 30vh;
    
    svg {
      width: 1.5vw;
      
      &:hover {
        path {
          fill: $basecolor;
        }
      }
    }
  }
}