@import "../global/layout.scss";

.presentation {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.hello {
  font-size: 4vw;
  margin: auto;
  line-height: 140%;

  a {
    color: $basecolor;

    &:hover {
      -webkit-text-stroke: $basecolor 2px;
      color: transparent;
      transition-duration: .2s;
      transition-timing-function: ease-in-out;
    }
  }
}