@import "../global/layout.scss";

.presentation {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.hello {
  font-size: 3vw;
  margin: auto;
  line-height: 140%;
  
  animation: slideIn 1s ease-in-out;
  
  a {
    color: $basecolor;
    animation: opacity 0.8s ease-in-out;
    
    &:hover {
      -webkit-text-stroke: $basecolor 2px;
      color: transparent;
      transition-duration: .2s;
      transition-timing-function: ease-in-out;
    }
  }
}   

.michal {
  display: none;
  
  position: absolute;
  
  width: 30vw;
  height: auto;
  top: 12vh;
  left: 43vw;
  z-index: -1;
}

.rayan:hover ~ .michal {
  display: block;
}


@keyframes opacity {
  0% {
    opacity: 0;
  }
  
  80% {
    color: rgb(105, 153, 155);
  }
  
  100% {
    opacity: 1;
  }
};

@keyframes slideIn {
  0% {
    transform: translateY(2vh);
    opacity: 0;
  }
  
  100% {
    transform: translateY(0vh);
    opacity: 1;
  }
}