$basecolor: #559FA2;
$text: #EEEEEE;

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  src: url("/assets/font/Raleway-ExtraBold.woff2") format("woff2");
  src: url("/assets/font/Raleway-ExtraBold.ttf") format("ttf");
  // src: url("/assets/font/Raleway-ExtraBold.woff") format("woff");
}

html {
  background-color: #2A4B4D;
  color: $text;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Raleway";
  font-weight: 800;
  letter-spacing: 0.01em;
}

a {
  text-decoration: none;
  z-index: 100;
  color: $text;
    &:hover {
      color: $basecolor;
    }
}